html{
    background-color: #ffbaba;
}
body{
    margin: 0;
}
main{
    background-color: white;
    justify-content: center;
}
h2{
    font-weight: bold;
    font-size: x-large;
    margin: 30px 0;
    text-align: center;
}
ul{
    list-style-type: none;
}
img{
    max-width: 100%;
    max-height: 100%;
}

.barra{
    display: flex;
    justify-content: space-between;
    margin: 10px 50px;
    max-height: 50px;
    border: 3px white solid;
}
.barra img{
    margin: 0 30px;
    max-height: 100%;
    max-width: 7%;
}
.menu{
    display: flex;
    flex-direction: row;
}
.menu li a{
    color: #494848;
    text-decoration: none;
    padding: 20px;
}
.menu li a:hover{
    color:black;
    background-color: white;
}
main{
    margin: 0 50px;
}
.parallax {
    background-image: url("../img/header.jpg");
    max-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax div{
    font-weight: bold;
    font-size: x-large;
    color: black;
    text-align: center;
    justify-content: center;
    padding: 10%;
}
.pastel{
    margin: 0 50px 10px;
    padding: 30px 0;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,  1fr);
    justify-items: center;
    align-items: center;
}
.pastel img{
    padding: 10px;
    max-height: 80%;
}
.pastel form{
    grid-column: 1;
    grid-row: 2;
}